body{
  margin: 0;
  padding: 10px;
  
}

footer{
  background-color: grey;
  bottom: 0;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;

}


header{
  background-color: grey;
  padding: 1em;
  text-align: center;
  width: 100%;
  top: 0;
  position: fixed;
  
}



